@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=PT+Sans:wght@400;700&display=swap');

body {
    background-color: #FFFDF5;
}
header {
    position: absolute;
    width: 327px;
    height: 106px;
    left: 64px;
    top: 48px;
    position: fixed;

    h1 {
        margin: 0;
        font-family: 'EB Garamond';
        font-style: normal;
        font-weight: 800;
        font-size: 56px;
        line-height: 73px;
        letter-spacing: 0.065em;
        color: #422D03;
    }
    h2 {
        margin: 0;
        font-family: 'EB Garamond';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 31px;
        color: rgba(60, 33, 9, 0.81);
    }
}
main {
    position: absolute;
    width: 656px;
    height: 1108px;
    left: 500px;
    top: 30px;

    hr {
        margin-top: 30px;
        margin-bottom: 30px;
        border: 1px solid rgba(0, 0, 0, 0.07);
    }
    article {

        h1 {
            margin-bottom: 5px;
            font-family: 'EB Garamond';
            font-style: normal;
            font-size: 24px;
            line-height: 31px;
            color: rgba(60, 33, 9, 0.81);
        }
        p {
            margin-top: 0px;
            font-family: 'PT Sans';
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 25px;

            strong {
                font-family: 'PT Mono';
            }
        }
        span {
            font-family: 'EB Garamond';
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 21px;
            color: #000000;

            cite {
                font-style: normal;
                color: rgba(60, 33, 9, 0.81);
                text-decoration: underline;
                text-decoration-skip: edges;
                text-decoration-color: rgba(0, 0, 0, 0.1);
            }
        }
        div {
            margin-top: 15px;
            a {
                display: inline;  
                font-family: PT Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 14px;
                background: rgba(0, 0, 0, 0.06);
                color: black;
                text-decoration: none;
                border-radius: 100px;
                padding-top: 6px;
                padding-bottom: 6px;
                padding-right: 22px;
                padding-left: 22px;
            }
        }
    }
}
