@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=PT+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    background-color: #FFFDF5;
}
header {
    position: fixed;
    padding-top: 48px;
    padding-left: 64px;

    h1 {
        margin: 0;
        font-family: 'EB Garamond';
        font-style: normal;
        font-weight: 800;
        font-size: 56px;
        line-height: 73px;
        letter-spacing: 0.065em;
        color: #422D03;
    }
    h2 {
        margin: 0;
        font-family: 'EB Garamond';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 31px;
        color: rgba(60, 33, 9, 0.81);
    }
}
main {
    padding-top: 48px;
    padding-right: 124px;
    padding-left: 500px; 
}

.uk-divider-small{
    margin-top: 32px;
    margin-bottom: 32px;
    border: 1px solid rgba(0, 0, 0, 0.07);
}
.article__title {
    margin-bottom: 5px;
    font-family: 'EB Garamond';
    font-style: normal;
    font-size: 24px;
    line-height: 31px;
    color: rgba(60, 33, 9, 0.81);
}
.article__description {
    margin-top: 0px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;

        strong {
            font-family: 'PT Mono';
        }
}
.article__src {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #000000;

    a {
        font-style: normal;
        color: rgba(60, 33, 9, 0.81);
        text-decoration: underline;
        text-decoration-skip: edges;
        text-decoration-color: rgba(0, 0, 0, 0.1);
        }
    a:hover {
        text-decoration-color: rgba(0, 0, 0, 0.6);
    }
}
.linkTag {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    
    a { 
        font-family: PT Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
        background: rgba(0, 0, 0, 0.06);
        color: black;
        text-decoration: none;
        border-radius: 100px;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-right: 22px;
        padding-left: 22px;
        }
    a:hover {
        background: rgba(0, 0, 0, 0.1);
    }
}
